name: CI

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  code-check:
    if: github.event.pull_request.draft == false
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          ref: main

      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false
          python-version: "3.11"

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1

  pytest:
    if: github.event.pull_request.draft == false
    permissions:
      contents: read
      pull-requests: write
    strategy:
        matrix:
            os: [ubuntu-latest]
            python-version: ["3.11"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          ref: main

      - name: Install ffmpeg
        uses: FedericoCarboni/setup-ffmpeg@v2

      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: uv sync --no-dev --all-extras

      - name: Test with pytest
        run: uv run pytest
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
